@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans"),
    url("../fonts/FiraSans-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans"),
    url("../fonts/FiraSansLight-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans"),
    url("../fonts/FiraSans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans"),
    url("../fonts/FiraSans-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans"),
    url("../fonts/FiraSansMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans"),
    url("../fonts/FiraSansMedium-Italic.woff") forma("woff");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans"),
    url("../fonts/FiraSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans"),
    url("../fonts/FiraSans-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

