/* Colors basic */

/* Colors background */

$background-menu: #f7a254;

/* Colors text */

/* Colors icon */

/* Colors other element */

/* Font-family */

$font-family-main: Tahoma, Arial, sans-serif;

/* Font-size */

$font-size-menu: 24px;

/* Font-weight */

$font-weight-menu: 500;

/* Other elements properties */

/* В данном блоке указываются свойства элементов, которые не вошли в вышеперечисленные обозначенные блоки (например, border-radius) */

/* Sizes of display */

$tablet-width: 768px;
$desktop-width: 1440px;
