.page-header {
  background-color: $background-orange;
}

.page-header__menu {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
